<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit profile</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/update/{id}(id=${user.getId})}" th:object="${user}">

  <label for="username">Username</label>
  <input type="text" th:field="*{username}" id="username"/>

  <br/>

  <label for="age">Age</label>
  <input type="text" th:field="*{age}" id="age"/>

  <br/>

  <label for="age">firstName</label>
  <input type="text" th:field="*{firstName}" id="firstName"/>

  <br/>

  <label for="age">lastName</label>
  <input type="text" th:field="*{lastName}" id="lastName"/>








  <input type="submit" value="Update!"/>

</form>

</body>
</html>