<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>UPDATE USER</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/{id}(id=${person.getId()})}" th:object="${person}">
  <label for="name">Enter name: </label>
  <input type="text" th:field="*{username}" id="name"/>
  <div style="color:#0088ff" th:if="${#fields.hasErrors('userName')}" th:errors="*{username}">Name Error</div>

  <input type="submit" value="Update users!"/>
</form>

</body>
</html>